<form action="//finance.us15.list-manage.com/subscribe/post?u=9f5b9fc31b27c4677d13faf36&amp;id=0370a4154a" method="POST" class="mailchimp-submit-form">
  <h3>
    Tenez-vous au courant de Catalyze
  </h3>

  <input type="hidden" name="u" value="9f5b9fc31b27c4677d13faf36">

  <input type="hidden" name="id" value="0370a4154a">

  <input type="text" name="FNAME" class="text-input" placeholder="Prénom">
  <input type="text" name="LNAME" class="text-input" placeholder="Nom">
  <input type="text" name="EMAIL" class="text-input" placeholder="Email">
  <input type="submit" value="S'inscrire" class="btn-catalyze">
</form>
